# Object files, tool outputs
*.in
*.o
*.d
*.hex
*.lst
*.elf
*.a43
*.log
*.trc
*.vcd
*.pkt
*.nc
*.a
config.h
stamp-h1

# GUI/Qt intermediate files
libgui/moc_mainwindow.cpp
libgui/ui_mainwindow.h

# Automake
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.status
/config.h.in
/config.sub
/configure
/cscope.files
/cscope.out
/depcomp
/install-sh
/missing
doc/wsim-web/htdocs/

# Makefiles
Makefile
platforms/Makefile
platforms/*/Makefile
devices/*/Makefile
*.deps
src/Makefile
machine/Makefile
devices/Makefile
doc/Makefile
libconsole/Makefile
liblogpkt/Makefile
libwsnet/Makefile
libtracer/Makefile
libselect/Makefile
liblogger/Makefile
libgui/Makefile
libetrace/Makefile
libgdb/Makefile
libelf/Makefile
